beautifulsoup4 
boto==2.49.0
facenet-pytorch==2.5.2
Flask 
h5py 
imageio 
matplotlib 
numpy 
pandas==1.2.5
Pillow==8.4.0
scikit-learn 
scipy
seaborn 
torch
torchaudio
torchvision
opencv-python
opencv-contrib-python
gin